@import "../styles/global.scss";
$footer-height:100px;

.container{
 background-color: #120f25;
  width: $container-width;
  height: $footer-height;
  position: absolute;
  bottom:0;


  .footer
  {
    margin: 0 auto;
    max-width: $site-width;
    height: $footer-height;
    line-height: $footer-height;
    color:#ffe1e4;
    padding: 0 20px 0 20px;
  }

}